@use '../mixin' as *;

header {
  box-shadow: var(--box-shadow);
}

.header-search {
  margin: 0 10px;
  @include xs {
    display: none;
  }
  border-radius: var(--border-radius);
  background-color: var(--gray-light);
  max-width: 400px;
}

.header-search input {
  border: 0;
  outline: 0;
  background-color: var(--gray-light);
}

.header-logo {
  width: 150px;
}

.header-logo img {
  max-width: 150px;
}

.burger {
  font-size: var(--font-size-large);
}

.menu-xs {
  a {
    margin: 10px 15px;
  }
  border-bottom: var(--border);
  box-shadow: var(--box-shadow);
}